---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$dark-color-yellow-background: #232020;


$about-dept: purple;
$about-university: #3C7A89;
$about-warsaw: #D8973C;
$about-dmw: #027BCE;
$about-ziraat: #BA1B1D;
$about-garanti: #004481;
$about-amadeus: #08376C;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

%button-link-focus-active {
    outline: none !important;
    box-shadow: none;
}

.btn:focus {
    @extend %button-link-focus-active;
}

.btn:active {
    @extend %button-link-focus-active;
}

.navbar-toggler:focus {
    @extend %button-link-focus-active;
}

.navbar-toggler:active {
    @extend %button-link-focus-active;
}


a {
    color: black;
    &:active {
        @extend %button-link-focus-active;
    }
    &:focus {
        @extend %button-link-focus-active;
    }
    &.disabled {
        pointer-events: none;
    }
}

.contact {
    opacity: 0.6;
    &:hover {
        text-decoration: none;
        opacity: 1;
    }
}


.logo-575 {
    &:hover {
        opacity: 0.6;
    }
    @media screen and (max-width: 575px){
        margin-top: 20px;
    }
}

.navbar-collapse {
    &.collapse.in {
        display: block!important;
    }
}
.collapse-mobile {
    &.collapse.in {
        display: block!important;
    }
} 

body {
    margin: 0;
    height: 100%;
    color: black;
    font-family: 'Lato', sans-serif;
}

.section-around {
    margin-top: 40px;
    margin-bottom: 20px;
}

.resume-btn {
    border:1px solid black !important; 
    color:black !important;
}

.project-btn {
    padding: 0px 0px;
    border: 0px;
}

.project-img {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.project-modal-content {
    background-color: #232020 !important;
    color: white ;
}

.project-modal-header {
    border: 0px !important;
    box-shadow: 0px 2px 10px black;
}

.nav-item {
    margin-right: 30px;
    @media screen and (max-width: 767px) {
        margin-right: 0px;
    }
}

.page-title {
    border: 3px solid #ffcf00;
    padding: 2px 5px 2px 5px;
    border-radius:5px;
} 

.new-navbar-item {
    color: black;
    &:hover {
        text-decoration: underline !important;
        color: black;
    }
}

header {
    @media screen and (max-width: 767px) {
        width: 100%;
        background-color: white;
        box-shadow: 2px 10px 40px black;
        position: fixed;
        z-index: 1;
    }
}

#collapse-web {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

#collapse-mobile {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.web-button {
    @media screen and (max-width: 767px) {
        display: none;
    }  
}

.mobile-button {
    @media screen and (min-width: 768px) {
        display: none;
    }    
}

.overview {
    @media screen and (max-width: 991px)  {
        margin-bottom: 60px;
    }  
    @media screen and (min-width:992px){
        margin-right: 40px;
    }
}

.goodreads-widget {
    @media screen and (min-width:992px){
        margin-bottom: 30px;
    }
    @media screen and (max-width:767px){
        margin-bottom: 30px;
    }
}

.goodreads-wide {
    @media screen and (max-width:767px){
        display: none;
    }
}

.goodreads-thin {
    @media screen and (min-width:768px){
        display: none;
    }
}

.me {
    @media screen and (max-width:767px){
        padding-top: 5.5rem;
    }
}

html, body {
    height: 100%;
    margin: 0;
  }

.wrap {
    min-height: 80%;
    margin: 0 auto -30px;
    padding-bottom:30px;
}

.contact-form-input {
    border: none;
    border-bottom: 3px solid red;
}

.car-parts-store {
    @media screen and (max-width:767px){
        display: none;
    }
}

.project-modal-content a {
    color:#ffcf00;
    &:hover {
        color:#ffcf00;
    }
}
.gr_grid_book_container a img {
    width: 75px;
}

a.footer-highlight {
    color: black;
    font-weight: 700;
    &:hover {
        color: black;
    }
}

#twitter-widget-0 {
    vertical-align: bottom;
}

.pocket-btn {
    float:right;
}

.site-stack {
    @media screen and (max-width:767px){
        margin-top: 15px;
    }
}

%about-span {
    font-weight: 700;
}

%about-dept {
    color: purple;
}

%about-university {
    color: #3C7A89;
}

%about-warsaw {
    color: #D8973C;
}

%about-dmw {
    color: #027BCE;
}

%about-ziraat {
    color: #BA1B1D;
}

%about-garanti {
    color: #004481;
}

%about-amadeus {
    color: #08376C;
}

.about-istanbul {
    @extend %about-span;
    color: turquoise;
}

.about-birth {
    @extend %about-span;
    color: #561D25;
}

.about-dept {
    @extend %about-span;
    color: $about-dept;
}

.about-university {
    @extend %about-span;
    color: $about-university;
}

.about-grad {
    @extend %about-span;
    color: #A4243B;
}

.about-warsaw {
    @extend %about-span;
    color: $about-warsaw;
}

.about-erasmus {
    @extend %about-span;
    color: #DB2763;
}

.about-idate {
    @extend %about-span;
    color: #E55934;
}

.about-dmw {
    @extend %about-span;
    color: $about-dmw;
}

.about-ziraat {
    @extend %about-span;
    color: $about-ziraat;
}

.about-startup {
    @extend %about-span;
    color: #7F534B;
}

.about-dmw-stack {
    @extend %about-span;
    color: #104547;
}

.about-desc-ziraat {
    @extend %about-span;
    color: #447604;
}

.about-ziraat-stack {
    @extend %about-span;
    color: #764248;
}

.about-dtvh {
    @extend %about-span;
    color: black;
}

.about-desc-dtvh {
    @extend %about-span;
    color: #81B29A;
}

.about-dtvh-stack {
    @extend %about-span;
    color: #3581B8;
}

.about-garanti {
    @extend %about-span;
    color: $about-garanti;
}

.about-position-garanti {
    @extend %about-span;
    color: #632B30;
}

.about-desc-garanti {
    @extend %about-span;
    color: #7FBF35;
}

.about-garanti-stack {
    @extend %about-span;
    color: #DE8937;
}

.about-amadeus {
    @extend %about-span;
    color: $about-amadeus;
}

.about-position-amadeus {
    @extend %about-span;
    color: #EBBB42;
}

.a-dept {
    &:hover{
        text-decoration-color: $about-dept;
    }   
}

.a-university {
    &:hover{
        text-decoration-color: $about-university;
    }
}

.a-warsaw {
    &:hover{
        text-decoration-color: $about-warsaw;
    }
}

.a-dmw {
    &:hover{
        text-decoration-color: $about-dmw;
    }
}

.a-ziraat {
    &:hover{
        text-decoration-color: $about-ziraat;
    }
}

.a-garanti {
    &:hover{
        text-decoration-color: $about-garanti;
    }
}

.a-amadeus {
    &:hover{
        text-decoration-color: $about-amadeus;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'bootstrap/bootstrap';
