---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$dark-color-yellow-background: #232020;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

%button-link-focus-active {
    outline: none !important;
    box-shadow: none;
}

.btn:focus {
    @extend %button-link-focus-active;
}

.btn:active {
    @extend %button-link-focus-active;
}

.navbar-toggler:focus {
    @extend %button-link-focus-active;
}

.navbar-toggler:active {
    @extend %button-link-focus-active;
}


a {
    color: black;
    &:active {
        @extend %button-link-focus-active;
    }
    &:focus {
        @extend %button-link-focus-active;
    }
    &.disabled {
        pointer-events: none;
    }
}

.contact {
    opacity: 0.6;
    &:hover {
        text-decoration: none;
        opacity: 1;
    }
}


.logo-575 {
    &:hover {
        opacity: 0.6;
    }
    @media screen and (max-width: 575px){
        margin-top: 20px;
    }
}

.navbar-collapse {
    &.collapse.in {
        display: block!important;
    }
}
.collapse-mobile {
    &.collapse.in {
        display: block!important;
    }
} 

body {
    margin: 0;
    height: 100%;
    color: black;
    font-family: 'Lato', sans-serif;
}

.section-around {
    margin-top: 40px;
    margin-bottom: 20px;
}

.project-btn {
    padding: 0px 0px;
    border: 0px;
}

.project-img {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.project-modal-content {
    background-color: #232020 !important;
    color: white ;
}

.project-modal-header {
    border: 0px !important;
    box-shadow: 0px 2px 10px black;
}

.nav-item {
    margin-right: 40px;
    @media screen and (max-width: 767px) {
        margin-right: 0px;
    }
}

header {
    @media screen and (max-width: 767px) {
        width: 100%;
        background-color: white;
        box-shadow: 2px 10px 40px black;
        position: fixed;
        z-index: 1;
    }
}

#collapse-web {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

#collapse-mobile {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.web-button {
    @media screen and (max-width: 767px) {
        display: none;
    }  
}

.mobile-button {
    @media screen and (min-width: 768px) {
        display: none;
    }    
}

.overview {
    @media screen and (max-width: 991px)  {
        margin-bottom: 60px;
    }  
    @media screen and (min-width:992px){
        margin-right: 40px;
    }
}

.goodreads-widget {
    @media screen and (min-width:992px){
        margin-bottom: 30px;
    }
    @media screen and (max-width:767px){
        margin-bottom: 30px;
    }
}

.goodreads-wide {
    @media screen and (max-width:767px){
        display: none;
    }
}

.goodreads-thin {
    @media screen and (min-width:768px){
        display: none;
    }
}

.me {
    @media screen and (max-width:767px){
        padding-top: 7rem;
    }
}

html, body {
    height: 100%;
    margin: 0;
  }

.wrap {
    min-height: 80%;
    margin: 0 auto -30px;
    padding-bottom:30px;
}

.contact-form-input {
    border: none;
    border-bottom: 3px solid red;
}

.car-parts-store {
    @media screen and (max-width:767px){
        display: none;
    }
}

%goodreads-a {
    color:black;
    &:hover {
        color: black;
        text-decoration: underline;
    }
}

.gr_custom_header_1520989024, .gr_custom_header_1521070875 {
    a{
        @extend %goodreads-a;
    }
}


.gr_custom_title_1520989024, .gr_custom_title_1521070875 {
    a {
        @extend %goodreads-a;
    }
}


.gr_custom_author_1520989024, .gr_custom_author_1521070875 {
    a{
        @extend %goodreads-a;
    }
}


.gr_custom_container_1520989024, .gr_custom_container_1521070875 {
    /* customize your Goodreads widget container here*/
    border: 2px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: transparent;
    color: #000000;
    width: 300px
}
.gr_custom_container_1521070875 {
    width: 100%;
}

.gr_custom_header_1520989024, .gr_custom_header_1521070875 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
}

.gr_custom_each_container_1520989024, .gr_custom_each_container_1521070875 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
}

.gr_custom_book_container_1520989024, .gr_custom_book_container_1521070875 {
    /* customize your book covers here */
    overflow: hidden;
    height: 160px;
        float: left;
        margin-right: 4px;
        width: 98px;
}

.gr_custom_author_1520989024, .gr_custom_author_1521070875 {
    /* customize your author names here */
    font-size: 10px;
}

.gr_custom_tags_1520989024, .gr_custom_tags_1521070875 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
}

.gr_custom_rating_1520989024, .gr_custom_rating_152107087 {
    /* customize your rating stars here */
    float: right;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'bootstrap/bootstrap';
