---
layout: default
title: About
permalink: /about/
---
<section class="about" style="margin-top:60px">
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 overview">
                <div class="row">
                    <div class="col-md-6">
                        <h2 style="margin-bottom:30px;">
                            <span class="page-title">Hello!</span>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <p> I was born in <span class="about-span about-istanbul">Istanbul</span> in <span class="about-span about-birth">1994</span> and I live here ever since. Before Marmara University, 
                                I was a student at Borsa Istanbul Zeytinburnu Anatolian High School.
                                Currently, I'm a <span class="about-span about-dept">senior computer engineering student</span> at <span class="about-span about-university">Marmara University</span> 
                                and I will be graduating in <spanclass="about-span about-grad">June 2018</span>.
                                During the fall semester of 2015-2016, I studied at <span class="about-span about-warsaw">Warsaw University of Technology</span> as an <span class="about-span about-erasmus">Erasmus Exchange Student</span>. <br><br>
                                In the <span class="about-span about-idate">summer of 2016</span>, I've interned with two different companies which are <span class="about-span about-dmw">Date My Wardrobe</span> and <span class="about-span about-ziraat">Ziraat Teknoloji</span>.<br>
                                <span class="about-span about-dmw">Date My Wardrobe</span> is a <span class="about-span about-startup">Boston based startup</span> which brings sharing economy to fashion. 
                                I have worked closely with the CEO of Date My Wardrobe on both front and back ends during my internship, and I used mainly <span class="about-span about-dmw-stack">Java, HTML, CSS, JavaScript, and MySQL</span>.
                                </p>
                    </div>
                    <div class="col-md-6">
                            <p>
                                    <span class="about-span about-ziraat">Ziraat Teknoloji</span> is an Istanbul based company which gives IT support to Ziraat Bank which is <span class="about-span about-desc-ziraat">one of largest banks in Turkey</span>. 
                                    While I was an intern at Ziraat Teknoloji, I implemented a desktop application for determining investment preferences of customers. <span class="about-span about-ziraat-stack">C# and PL/SQL</span> were the two most commonly used 
                                    technologies during this period.<br><br>
                                    In <span class="about-span about-idate">June 2017</span>, I was an intern at <span class="about-span about-dtvh">Doğan TV Holding</span>. Doğan TV Holding is an Istanbul based company which includes <span class="about-span about-desc-dtvh">Kanal D, CNN Türk, D-Smart</span>, and many others. 
                                    During my internship, I have created D-Smart Channel Frequency List page which allows its users to figure out the frequencies of some TV channels. 
                                    I've also played a significant role on the frontend implementation of sitemap page of D-Smart website. During this period, I worked on the frontend using <span class="about-span about-dtvh-stack">Bootstrap, HTML, CSS</span>.
                                    </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-12" style="margin-top:20px">
                            <h4 style="margin-bottom:30px;"><span class="page-title">Technologies that I love to use</span></h4>
                    </div>
                </div>
                <div class="row text-center" style="align-items: center">
                    {% for row in site.data.techs %}
                        {% for tech in row.rows %}
                            <div class="col-md-2 col-2 logo-575">
                                <a href="{{ tech.url }}" target="_blank">
                                    <img style="margin-top:10px" class="img-fluid" src="/assets/img/techs/{{ tech.image }}" width="{{ tech.width }}" alt="Logo of {{ tech.name }}"/>
                                </a>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-12 spotify-widget">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                        <h2 style="margin-bottom:30px;"><span class="page-title">Mixtape</span></h2>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                            <iframe src="https://open.spotify.com/embed/user/11135553220/playlist/7bMzIA6lqWQ9rhwM5sy6a4" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="min-width:300px;width:100%;"></iframe>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

