---
layout: default
---
<div>
  <section class="info">
    <div class="container">
      <div class="row" style="margin-bottom:25px;">
        <div class="col-md-8 offset-md-2 text-center">
          <img class="img-fluid" src="/assets/img/IMG_3412 2.png" width="40%" height="auto"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center" style="color:#040404">
          <h1 style="font-weight: 700">
            Hey, I'm Eren.
          </h1>
          <h3>
            Developer | CS Student
          </h3>
        </div>
      </div>
      <div class="row" style="margin-top:25px;">
        <div class="col-md-8 offset-md-2 text-center">
          {% include icon-github.html username=site.github_username %}
          {% include icon-linkedin.html username=site.linkedin_username %}
          {% include button-resume.html %}
        </div>
      </div>
    </div>
  </section>
  <section class="companies" style="margin-top:40px;margin-bottom:40px">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h1>Companies that I have interned with</h1>
        </div>
      </div>
      <div class="row" style="align-items:center">
        <div class="col-md-4 text-center logo-767 logo-hover">
          <img class="img-fluid" src="/assets/img/dmw.png" width="200px"/>
        </div>
        <div class="col-md-4 text-center logo-767 logo-hover">
          <a href="http://www.ziraatteknoloji.com/">
            <img class="vcenter img-fluid" src="/assets/img/ziraatteknoloji.png" width="200px" height="auto"/>
          </a>
        </div>
        <div class="col-md-4 text-center logo-767 logo-hover">
          <a href="http://www.dogantv.com.tr/bilgitoplumuhizmetleri/default.aspx">
            <img class="img-fluid" src="/assets/img/dtvh.png" width="150px" height="auto"/>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="info about" style="padding-top:40px">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2>Get in Touch <br>
            <a style="color:black" href="mailto:eren.ulas@yahoo.com">
              eren.ulas@yahoo.com
            </a>
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class="techs" style="padding-top:40px">
      <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <h1>Techs that I love and use</h1>
            </div>
        </div>
        <div class="row text-center" style="align-items: center;margin-top:30px">
          <div class="offset-md-1"></div>
          <div class="col-md-2 logo-hover logo-767">
            <img src="/assets/img/500px-Python-logo-notext.svg.png" width="100px"/>
          </div>
          <div class="col-md-2 logo-hover logo-767">
              <img src="/assets/img/Java_programming_language_logo.svg.png" width="65px"/>
          </div>
          <div class="col-md-2 logo-hover logo-767">
            <img src="/assets/img/The_C_Programming_Language_logo.svg.png" width="120px"/>
          </div>
          <div class="col-md-2 logo-hover logo-767">
              <img src="/assets/img/mongodb-logo-rgb-j6w271g1xn.jpg" width="200px"/>
          </div>
          <div class="col-md-2 logo-hover logo-767">
              <img src="/assets/img/480px-JavaScript-logo.png" width="100px"/>
          </div>
        </div>
        <div class="row text-center" style="align-items:center;margin-top:30px">
          <div class="offset-md-1"></div>
          <div class="col-md-2 logo-hover logo-767">
            <img src="/assets/img/swipl.png" width="90px"/>
          </div>
          <div class="col-md-2 logo-hover logo-767">
            <img src="/assets/img/heroku-logo-solid-gradient.png" width="95px"/>
          </div>
          <div class="col-md-2 logo-hover logo-767">
            <img src="/assets/img/bootstrap-solid.svg" width="60px"/>
          </div>
          <div class="col-md-2 logo-hover logo-767">
            <img src="/assets/img/HTML5_Logo_256.png" width="70px"/>
          </div>
          <div class="col-md-2 logo-hover logo-767">
            <img src="/assets/img/CSS3_logo_and_wordmark.svg.png" width="52px"/>
          </div>
        </div>
      </div>
    </section>
</div>
