---
layout: default
---
<div>
  <section class="info">
    <div class="container">
      <div class="row" style="margin-bottom:25px;">
        <div class="col-md-8 offset-md-2 text-center">
          <img class="img-fluid" src="/assets/img/profile-img.png" width="40%" height="auto"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center" style="color:#040404">
          <h2 style="font-weight: 700">
            Hey, I'm Eren.
          </h2>
          <h4>
            Developer | CS Student
          </h4>
        </div>
      </div>
      <div class="row" style="margin-top:25px;">
        <div class="col-md-8 offset-md-2 text-center">
          {% include icon-github.html username=site.github_username %}
          {% include icon-linkedin.html username=site.linkedin_username %}
          {% include button-resume.html %}
        </div>
      </div>
    </div>
  </section>
  <section class="companies" style="margin-top:40px;margin-bottom:40px">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2>Companies that I have interned with</h2>
        </div>
      </div>
      <div class="row" style="align-items:center">
        <div class="col-md-4 col-xs-3 text-center logo-767 logo-hover">
          <img class="img-fluid" src="/assets/img/companies/dmw.png" width="200px"/>
        </div>
        <div class="col-md-4 col-xs-3 text-center logo-767 logo-hover">
          <a href="http://www.ziraatteknoloji.com/" target="_blank">
            <img class="vcenter img-fluid" src="/assets/img/companies/ziraatteknoloji.png" width="200px" height="auto"/>
          </a>
        </div>
        <div class="col-md-4 col-xs-3 text-center logo-767 logo-hover">
          <a href="http://www.dogantv.com.tr/bilgitoplumuhizmetleri/default.aspx" target="_blank">
            <img class="img-fluid" src="/assets/img/companies/dtvh.png" width="150px" height="auto"/>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--<section class="info about" style="padding-top:40px">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2>Get in Touch <br>
            <a href="mailto:eren.ulas@yahoo.com">
              eren.ulas@yahoo.com
            </a>
          </h2>
        </div>
      </div>
    </div>
  </section>-->
  <section class="section-break" >
    <div class="container" style="background-color: #232020 ;padding-top:10px;border-radius:20px"></div>
  </section>
  <section class="techs" style="padding-top:40px">
      <div class="container">
        <div class="row" >
            <div class="col-md-8 offset-md-2 text-center">
              <h2>Technologies that I love to use</h2>
            </div>
        </div>
        <div class="row text-center" style="align-items: center;margin-top:20px">
          <div class="offset-md-1"></div>
          <div class="col-md-2 col-6 logo-hover logo-767">
            <a href="https://www.python.org/" target="_blank">
              <img class="img-fluid" src="/assets/img/techs/python.png" width="100px"/>
            </a>
          </div>

          <div class="col-md-2 col-6 logo-hover logo-767">
            <a href="https://www.oracle.com/java/index.html" target="_blank">
              <img class="img-fluid" src="/assets/img/techs/java.png" width="65px"/>
            </a>
          </div>
          <div class="col-md-2 col-6 logo-hover logo-767">
            <a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">
              <img class="img-fluid" src="/assets/img/techs/c.png" width="120px"/>
            </a>
          </div>
          <div class="col-md-2 col-6 logo-hover logo-767">
            <div class="row">
              <div class="col-md-6 col-6" style="padding-right:0px">
                <a href="" target="_blank">
                  <img class="img-fluid" src="/assets/img/techs/mysql.png"/>
                </a>
              </div>
              <div class="col-md-6 col-6" style="padding-left:0px">
                <a href="" target="_blank">
                  <img class="img-fluid" src="/assets/img/techs/mssql.png"/>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 offset-md-2 col-8 offset-3">
                <a href="" target="_blank">
                  <img class="img-fluid" src="/assets/img/techs/sqlite.png"/>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 logo-hover logo-767">
              <a href="https://www.mongodb.com/" target="_blank">
                <img class="img-fluid" src="/assets/img/techs/mongodb.jpg" width="200px"/>
              </a>
            </div>
        </div>
        <div class="row text-center" style="align-items:center;margin-top:30px;margin-bottom:50px">
          <div class="offset-md-2"></div>
          <div class="col-md-2 col-6 logo-hover logo-767">
              <a href="https://www.javascript.com/" target="_blank">
                <img class="img-fluid" src="/assets/img/techs/js.png" width="80px"/>
              </a>
          </div>
          <div class="col-md-2 col-6 logo-hover logo-767">
            <a href="http://www.swi-prolog.org/" target="_blank">
              <img class="img-fluid" src="/assets/img/techs/prolog.png" width="130px"/>
            </a>
          </div>
          <div class="col-md-2 col-6 logo-hover logo-767">
            <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
              <img class="img-fluid" src="/assets/img/techs/html5.png" width="60px"/>
            </a>
          </div>
          <div class="col-md-2 col-6 logo-hover logo-767">
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
              <img class="img-fluid" src="/assets/img/techs/css3.png" width="60px"/>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="section-break" >
      <div class="container" style="background-color: #232020 ;padding-top:10px;border-radius:20px"></div>
    </section>
      <section class="projects" style="padding-top:40px">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <h2>Some of my projects</h2>
            </div>
          </div>
          <div class="row" style="margin-top:20px">
            <div class="col-md-3 col-6 project-img">
              <a>
                <img class="img-fluid" src="/assets/img/portfolio/genetic_algo.png" />
              </a>
            </div>
            <div class="col-md-3 col-6 project-img">
              <a>
                <img class="img-fluid" src="/assets/img/portfolio/student_assistant_bot.png" />
              </a>              
            </div>
            <div class="col-md-3 col-6 project-img">
              <a>
                <img class="img-fluid" src="/assets/img/portfolio/p2p_chat.png" />
              </a>           
            </div>
            <div class="col-md-3 col-6 project-img">
              <a>
                <img class="img-fluid" src="/assets/img/portfolio/ortakbul.png" />
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-6 project-img">
              <a>
                <img class="img-fluid" src="/assets/img/portfolio/coin_collecting_robot_new.png" />
              </a>
            </div>
            <div class="col-md-3 col-6 project-img">
              <a>
                <img class="img-fluid" src="/assets/img/portfolio/bmi.png" />
              </a>          
            </div>
            <div class="col-md-3 col-6 project-img">
              <a>
                <img class="img-fluid" src="/assets/img/portfolio/family_tree.png" />
              </a>        
            </div>
            <div class="col-md-3 col-6 project-img">
              <a>
                <img class="img-fluid" src="/assets/img/portfolio/cpu.png" />
              </a>       
            </div>
          </div>
        </div>
      </section>
</div>
