---
layout: default
title: Portfolio
permalink: /portfolio/
---
<section class="projects section-around" id="projects">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-10" style="margin-bottom:30px;padding:0px">
                        <h2 class="page-heading">
                            <span class="page-title">Portfolio</span>
                        </h2>
                  <p style="font-size:12px;opacity:0.6">* Press on images for more info...</p>
                </div>
            </div>
            <div class="row">
            {% for row in site.data.projects %}
            
            <div class="offset-md-1 offset-0"></div>

                {% for project in row.rows %}
                <div class="col-md-2 col-4 project-img {{project.id}}">
                    <a href="" class="project-btn" data-toggle="modal" data-target="#{{project.id}}">
                        <img class="img-fluid" src="/assets/img/portfolio/{{project.image}}" alt="Logo for {{ project.title }} project" />
                    </a>
                    {% include project-overview.html detail=project %}
                </div>
                {% endfor %}
                <div class="offset-md-1 offset-0"></div>
            {% endfor %}
        </div>

        </div>
    </section>
