<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form action="https://formspree.io/eren.ulas@yahoo.com" method="POST">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLongTitle"><span style="border-bottom: 3px solid red">Get in</span> Touch</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-lg-6 col-md-12 col-12">
              <div class="col">
                <div class="form-row" style="margin-top: 3rem;">
                  <div class="form-group" style="width:  100%;">
                    <input class="contact-form-input" type="text" name="name" id="fullname" placeholder="Name" style="border-color: #ffcf00;width:100%;">
                  </div>
                </div>
                <div class="form-row" style="margin-top: 2rem;">
                  <div class="form-group" style="width:100%">
                    <input class="contact-form-input" type="email" name="email" id="email" placeholder="Email" style="border-color: #2C1051;width:100%">
                  </div>
                </div>
              <div class="form-row" style="margin-top: 2rem;">
                <div class="form-group" style="width:100%">
                  <input class="contact-form-input" type="text" name="_subject" id="subject" placeholder="Subject" style="border-color: #0077B5;width:100%">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-12 col-12">
            <div class="col">
              <div class="form-row" style="margin-top: 3rem;">
                <div class="form-group" style="width:  100%;">
                  <textarea class="contact-form-input" rows="12" name="message" id="message" placeholder="Enter your message here!" style="width: 100%;border: 3px solid black;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="width: 100%;background-color: #ffcf00;color: black;border: 0px;">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
</div>
</div>