<div class="container">
<div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h4>Get in Touch</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            {% include icon-github.html username=site.github_username %}
            {% include icon-linkedin.html username=site.linkedin_username %}
            {% include button-resume.html %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center" style="margin-top:20px;">
            <a style="color:black" href="mailto:{{site.email}}">{{site.email}}</a>
        </div>
      </div>
    </div>