<header id="hdr">
  <div class="container">
    <div class="collapse contact-collapse" id="collapseContact">
    <div class="row" style="align-items:center;padding-top:40px">
          <div class="col-md-3 offset-md-3 col-4 offset-2">
            <img class="img-fluid" src="/assets/img/contact-img.png" width="300px" />
          </div>
          <div class="col-md-4 col-6">
            <div class="row">
                {% include contact.html %}
            </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="navbar-expand-sm navbar-default nav-max-575" style="width:100%">

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: calc(50% - 50px);">
              <img class="img-fluid" src="/assets/img/mobile-header.png" width="80px" height="auto"/>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto" style="align-items: center">
                
                <li class="nav-item ">
                  <a class="nav-link new-navbar-item disabled" href="/about">
                    ABOUT
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link new-navbar-item" href="#projects">
                    PORTFOLIO
                  </a>
                </li>
                  
                <li class="nav-item vcenter nav-img-collapse">
                  <a class="nav-link disabled" href="{{site.baseurl}}">
                    <img class="img-fluid" src="/assets/img/web-header.png" width="80px" height="80px" />
                  </a>
                </li>
              
                <li class="nav-item">
                  <a class="nav-link new-navbar-item disabled" href="">
                    BLOG
                  </a>
                </li>
                
                <li class="contact-link nav-item">
                  <a data-toggle="collapse" class="nav-link new-navbar-item" href="#collapseContact" aria-expanded="false" aria-controls="collapseContact" onclick="openContact();">
                    CONTACT
                  </a>
                  <script>
                    function openContact() {
                      //code
                      var x = document.getElementById("hdr");
                      if(x.style.position == "fixed")
                        x.style.position = "absolute"
                      else
                        x.style.position = "fixed"
                      
                      if(x.style.backgroundColor != "white")
                        x.style.backgroundColor = "white";
                      else
                        setTimeout(updateHeader, 600)
                    }
                    function updateHeader() {
                      var x = document.getElementById("hdr");
                      x.style.backgroundColor = "transparent"
                    }
                  </script>
                </li>
                <li class="contact-info nav-item" style="margin-top:40px; padding-bottom: 20px">
                    {% include contact.html %}
                </li>
              </ul>
            </div>
          </div>
    </div>
  </div>
</header>
