<div class="social-share-buttons">
        <div id="fb-root"></div>

        <div class="fb-share-button" data-href="{{ page.url | prepend: site.url }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet?text={{ page.title }}"
    data-size="large">
    Tweet</a>
</div>